/* Modal Styles */
.cleanup-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.cleanup-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  height: 60%;
}

.cleanup-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cleanup-close:hover,
.cleanup-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cleanup-button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  height: 60%;
}

.cleanup-large-button {
  padding: 30px 60px;
  font-size: 40px; /* Doubled font size */
}

.cleanup-large-text {
  font-size: 60px; /* Doubled font size */
  margin-bottom: 20px;
}
